/* Enhance table style */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: right;
    font-size: 16px; /* Slightly larger font */
}

/* Button styling */
.buttons input[type="submit"] {
    margin-left: 5px;
    padding: 12px 20px;
    border: none;
    background: #4e5c70;
    color: #FFFFFF;
    font-size: 16px; /* Increased font size */
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px; /* More rounded corners */
    transition: background 0.3s; /* Smooth background change */
}

.buttons input[type="submit"]:hover {
    background: #434f61;
    transform: translateY(-2px); /* Slight lift on hover */
}

.button a {
    margin-left: 5px;
    padding: 8px 8px;
    border: none;
    background: #4e5c70;
    color: #FFFFFF;
    font-size: 16px; /* Increased font size */
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px; /* More rounded corners */
    transition: background 0.3s;
}

/* Payment method styles */
.payment-methods {
    margin: 0 auto;
    max-width: 500px; /* Limit width for better centering */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center; /* Center content */
}

.payment-option {
    display: flex;
    margin: 10px 0;
    justify-content: center; /* Center align radio buttons */
}

.payment-option input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid #4e5c70;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.payment-option input[type="radio"]:checked {
    background-color: #4e5c70;
    border-color: #4e5c70;
}

.payment-option label {
    font-size: 16px;
    cursor: pointer;
}

/* Input field styles */
#credit-card-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the input fields */
}

#credit-card-info input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%; /* Full width within the container */
    max-width: 500px; /* Limit max width */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#credit-card-info input:focus {
    border-color: #4e5c70; /* Highlight on focus */
    outline: none; /* Remove default outline */
}
